/* @notimport "tailwindcss"; */

:root {
  --accentColor: #E6E6E6;
  --greyedOutColor: #ffffff4d;
  --gradient1Color: #8c3da8;
  --gradient2Color: #4d1f3d;
  --gradient3Color: #1f4f7a;
}

@theme inline {}

body {
  height: 95%;
  background: linear-gradient(-45deg, var(--gradient1Color), var(--gradient2Color), var(--gradient3Color), var(--gradient1Color));
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.source {
  color: var(--greyedOutColor);
  text-align: center;
  margin: 27px auto;
  margin-top: 10px;
  width: 90%;
  max-width: 500px;
  font-size: small;
}

.accent {
  color: var(--accentColor);
  text-decoration: none;
}

.profilePicture,
.profilePicture img {
  position: relative;
  width: 130px;
  height: 130px;
  display: block;
  margin: auto auto auto;
  border-radius: 50%;
  grid-column: 1;
  grid-row: 1;
}

.profilePictureOverlay,
.profilePictureOverlay img {
  animation: opacity 10s ease infinite;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pronouns {
  color: var(--greyedOutColor);
  font-size: large;
  line-height: 1.25;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.greyedOut {
  color: var(--greyedOutColor);
}

.userName1 {
  animation: userName1opacity 10s ease infinite;
}

@keyframes userName1opacity {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.userName2 {
  animation: userName2opacity 10s ease infinite;
}

@keyframes userName2opacity {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}




/* styling for FontAwesomeIcon */


@media (hover: hover) {
  .link:hover {
    background-color: var(--greyedOutColor);
  }
}